{% extends 'base/base.html' %}
{% load bootstrap4 %}
{% load staticfiles %}

{% block content %}

    <div class="container col-lg-9">
        <div class="card mb-3 table-responsive">
            <div class="card-block">
                <div class="card-header">
                    Nuevo paciente 
                </div>
                <div class="card-body">
                    <form class="form-horizontal" role="form" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <legend>Datos personales </legend>
                            {% for field in form %}
                                <div class="form-group col-md-6">
                                    {% bootstrap_field field %}
                                </div>
                            {% endfor %}
                            <legend>Datos demográficos</legend>
                            {% for field in form2 %}
                                <div class="form-group col-md-6">
                                    {% bootstrap_field field %}
                                </div>
                            {% endfor %}
                        </div>
                        {% bootstrap_button "Guardar" button_type="submit" button_class="btn btn-primary" %}
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}