{% load bootstrap4 %}
{% block content %}

<form role="form" action="{% url 'patient:patient_delete' object.pk %}" method="post">
    {% csrf_token %}
    <p>Desea eliminar al paciente {{object.lastName}}, {{ object.name }} ?</p>
    <button class="btn btn-danger" type="submit">Sí, eliminar</button>
    <a class="btn btn-default" onclick="return cerrar_modal()">Cancelar</a>
</form>

{% endblock %}

{% block finish %}
<script>
    function cerrar_modal(){
        modal.dialog("close");
    }
</script>
{% endblock %}