{% extends 'base/base.html' %}
{% load bootstrap4 %}
{% load staticfiles%}
{% block sideMenu %}    
{% endblock %}
{% block stylesheet %}    
    <link href="{% static 'css/noSidebar.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container col-lg-9">
    <div class="card mb-3 table-responsive">
        <div class="card-block">
            {% if validlink %}
            <div class="card-header">
                Nueva Contraseña
            </div>
            <div class="card-body">
                <form  role="form" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group col-md-6">
                            {% bootstrap_field form.new_password1 label='Nueva Contraseña' %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            {% bootstrap_field form.new_password2 label='Confirme Contraseña' %}
                        </div>
                    </div>
                    {% bootstrap_button "Cambiar Contraseña" button_type="submit" button_class="btn-primary" %}
                </form>
            </div>
            {% else %}
            <div class="card-body">
                <h4 class="text-center">Enlace invalido. Este enlace ya ha sido utilizado.</h4>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}