{% extends 'base/base.html' %}
{% load bootstrap4 %}
{% load staticfiles%}
{% block sideMenu %}    
{% endblock %}
{% block stylesheet %}    
    <link href="{% static 'css/noSidebar.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container col-lg-9">
    <div class="card mb-3 table-responsive">
        <div class="card-block">
            <div class="card-body text-center">
                <h4>Su contraseña se reestablecio correctamente</h4>
                {% url 'users:users_login' as login_url %}
                {% bootstrap_button "Iniciar sesion" button_type="link" button_class="btn-primary" href=login_url %}
            </div>
        </div>
    </div>
</div>
{% endblock %}