{% extends 'base/base.html' %}
{% load bootstrap4 %}
{% load staticfiles%}
{% block sideMenu %}    
{% endblock %}
{% block stylesheet %}    
    <link href="{% static 'css/noSidebar.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container col-lg-9">
    <div class="card mb-3 table-responsive">
        <div class="card-block">
            <div class="card-header">
                Recuperar Contraseña
            </div>
            <div class="card-body">
                <form  role="form" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group col-md-6">
                            {% bootstrap_field form.email %}
                        </div>
                    </div>
                    {% bootstrap_button "Enviar" button_type="submit" button_class="btn-primary" %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}